$night: #110038;
$white: #ffffff;
$grey: #b4b4b4;
$light-grey: #e6e6e6;
$strong-grey: #979797;
$strong-pink: #ee3efe;
$light-pink: #f7c9f3;

%body-bkg-day {
    background-color: #faf0f9;
}
%body-bkg-night {
    background-color: $night;
}
%top-bar-day {
    background-image: linear-gradient(270deg, $light-pink 0%, #4180f6 100%);
}
%top-bar-day-body {
    @extend %top-bar-day;
    box-shadow: 0 1px 0 0 $night;
}
%top-bar-night {
    background-image: linear-gradient(270deg, $strong-pink 0%, #2e32fb 100%);
}
%top-bar-night-body {
    @extend %top-bar-night;
    box-shadow: 0 1px 0 0 $night;
}
//buttons

%menu-button-day {
    background: $light-pink;
    border: 1px solid $night;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 $white;
    height: 36px;
    &:hover {
        background: #e6bbe2;
        border: 1px solid $night;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 $white;
    }
}
%menu-button-night {
    background: $strong-pink;
    border: 1px solid $night;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 $white;
    height: 36px;
    &:hover {
        background: #ce36db;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 $white;
    }
}
%blue-button {
    background: #4180f6;
    border: 1px solid #4c2f99;
    box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 $white;
}
%record-button {
    background: #ff6161;
    border: 1px solid $night;
    box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 $white;
}
%secundary-button-day {
    background: #fff4fd;
    border: 1px solid $night;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 $white;
    :hover {
        background: #f0e5ee;
        border: 1px solid $night;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 $white;
    }
}
%secundary-button-night {
    background: $night;
    border: 1px solid $grey;
    box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
}

//boxes
%search-input {
    background: $white;
    border: 1px solid $strong-grey;
    box-shadow: inset -2px -2px 0 0 $light-grey inset 2px 2px 0 0 #000000;
}
%slim-box-text-day {
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}
%slim-box-text-night {
    background: #fffafe;
    border: 1px solid #2e32fb;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 $night;
}
%gif-cntr-day {
    background: $light-grey;
    box-shadow: inset -2px -2px 0 0 $grey, inset 2px 2px 0 0 $white;
}
%gif-cntr-night {
    background: $grey;
    box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 $white;
}
%grey-box-day {
    background: $light-grey;
    box-shadow: inset -2px -2px 0 0 $grey, inset 2px 2px 0 0 $white;
}

%switch-button-day {
    background: #f0f0f0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 $grey, inset 1px 1px 0 0 $white;
    &:active {
        background: #fff4fd;
        border: 1px solid #cca6c9;
        box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 $white;
    }
}
%switch-button-night {
    @extend %switch-button-day;
    background: #cccccc;
    &:active {
        &:active {
            background: #2e32fb;
            border: 1px solid rgba(51, 53, 143, 0.2);
            box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 $white;
        }
    }
}
%grey-box-night {
    background: $grey;
    box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 $white;
}
%grey-in-day {
    background: #f0f0f0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 $grey, inset 1px 1px 0 0 $white;
}
%grey-in-night {
    background: #cccccc;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 $grey, inset 1px 1px 0 0 $white;
}

%progess-bar {
    background-color: #b4b4b4;
    border: 1px solid $strong-grey;
    box-shadow: inset 2px 2px 0 0 $light-grey, inset -2px -2px 0 0 #000000;
}
%progress-cells {
    background-color: $strong-pink;
}

%download-button {
    background: #fff4fd;
    border: 1px solid $night;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 $white;
}
%capture-inside {
    background: $white;
    border: 1px solid $strong-grey;
    box-shadow: inset -2px -2px 0 0 $light-grey, inset 2px 2px 0 0 #000000;
}
